
<div class="contents row">

  <% @tweets.each do |tweet| %>
  
     <%=  @comments = tweet.comments.includes(:user)%>
     <%=  @like = Like.find_by(user_id: current_user.id, tweet_id: tweet.id)%>

    <%= render partial: "tweet", locals: { tweet: tweet ,comments: @comments ,like: @like } %>

  <% end %>
  <%= paginate(@tweets) %>

</div>
