


        <div class="tag_top">
        
         <a>タグ：</a>
         <span class="tag-label"><%= fa_icon 'tag' %><%= @tag %></span>
       </div>




<div class="contents row">

    <div class="tagpage_margin">

  <% @tweets.each do |tweet| %>



     <%  @comments = tweet.comments.includes(:user)%>

<% if user_signed_in? %>
     <%  @like = Like.find_by(user_id: current_user.id, tweet_id: tweet.id)%>
<% end %>

    <%= render partial: "tweet", locals: { tweet: tweet ,comments: @comments ,like: @like } %>


  <% end %>



  

  </div>



</div>
